{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">SensaCine</h1>
  <p class="lead">SensaCine es una web española de información y actualidad sobre cine y series. Fue creada en 2008 como parte del grupo francés AlloCiné, y su sede se encuentra en Madrid</p>
  <hr class="my-4">
  <p>Ofrece a los usuarios la opción de registrarse, para puntuar y criticar películas, elegir sus cines preferidos y participar en concursos..</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Leer Más</a>
</div>

{% endblock%}